<h1>Reset Password</h1>
<form action="/resetPassword" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <input type="submit" value="Send Email">
</form>
