<form action="/updatePassword" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">New Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="confirm_password">Confirm New Password:</label><br>
    <input type="password" id="confirm_password" name="confirm_password"><br>
    <input type="submit" value="Update Password">
</form>
